{% extends "index.html" %}

{% block main %}

    <h2 class="sub-header">主机信息</h2>

    <div class="table-responsive">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addhost">
            全选
        </button>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addhost">
            反选
        </button>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#bulk_del">
            取消
        </button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#bulk_del">
            添加主机
        </button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#bulk_del">
            批量删除
        </button>


        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th style="text-align: center">序号</th>
                <th style="text-align: center">主机名称</th>
                <th style="text-align: center">主机地址</th>
                <th style="text-align: center">所属业务线</th>
                <th style="text-align: center">管理员</th>
                <th style="text-align: center">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for host in host_list %}
                <tr style="text-align: center" hid="{{ host.hid }}">
                    <th><input type="checkbox"></th>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ host.hostname }}</td>
                    <td>{{ host.ipaddr }}</td>
                    <td>{{ host.services_line.sname }}</td>
                    <td>
                        {% for admin in  host.admin.all %}
                            <span uid="{{ admin.uid }}">{{ admin.username }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit">
                            编辑
                        </button>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">删除
                        </button>

                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">编辑主机</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="input-group">
                            <span class="input-group-addon" id="hostname">主机名称</span>
                            <input type="text" class="form-control" placeholder="hostname"
                                   aria-describedby="sizing-addon2">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="ipaddr">主机地址</span>
                            <input type="text" class="form-control" placeholder="0.0.0.0"
                                   aria-describedby="sizing-addon2">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="serviceline">所属业务</span>
                            <select class="form-control">
                                {% for service in service_list %}
                                    <option value="{{ service.sid }}">{{ service.sname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="admin">管理人员</span>
                            <select multiple class="form-control" id='admin'>
                                {% for user in user_list %}
                                    <option value="{{ user.uid }}">{{ user.username }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}